{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}
{% load widget_tweaks %}

User Profile Page
<br>Public information
<br>1) fiew your information
<br>2) Quick books
<br>3) Goals
<br>4) (un)subscribe

<br><br>


<div>
  <span class="section-header"> {{ user.username }} </span>
  {% if user.is_authenticated %}
    {% if to_follow == 'Unfollow' %}
      <a href="{% url 'act_unfollow' page_user %}"><span class="badge badge-danger">Unfollow</span></a>
    {% elif to_follow == 'Follow' %}
    <a href="{% url 'act_follow' page_user %}"><span class="badge badge-primary">Follow</span></a>
    {% endif %}
  {% else %}
    nay
  {% endif %}


</div>













<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<br>YOUR
<br>username: {{ user.username }}
<br>userid: {{ user.id }}
<br>date_joined: {{ user.date_joined }}


<br><br>PROFILE
<br>page_user: {{ page_user }}
<br><br>


followers: {{ followers }}<br><br>

following: {{ following }}<br><br>

to_follow: {{ to_follow }}<br><br>

  {% if user.is_authenticated %}
    1) user is authenticated<br>
    {% if to_follow == 'Unfollow' %}
      2) following so unfollow<br>

      <a href="{% url 'act_unfollow' page_user %}"> Unfollow </a>

    {% elif to_follow == 'Follow' %}
      2) not following so follow<br>
      <a href="{% url 'act_follow' page_user %}"> Follow </a>

    {% endif %}
  {% else %}
    nay
  {% endif %}


<br><br><br>{{ testset }}

{% endblock %}
